@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Arial Narrow', Arial, sans-serif;
}

nav {
    height: 90px;
    color: white;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}


.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.neo-section {
    min-height: 770px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 30px;
    position: relative;
}

.neo-section>.neo-container {
    position: relative;
    z-index: 105;
}

.neo-container {
    max-width: 1280px;
    padding: 2% 2%;
    margin: 0 auto;
    margin-top: 200px;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.wm {
    width: 50%;
    float: left;
}

.btn-logout {
    border-radius: 8px;
}

.text-center {
    color: white;
    font-weight: bold;
}

.color-toggler {
    color: white;
}

.buttons {
    padding: 2% 15%;
}

.rodape {
    text-align: center;
    color: #fff;
    background-color: rgb(144, 144, 144);
    font-size: 16px;
    padding: 10px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .neo-container {
        margin-top: 100px;
    }

    nav {
        height: 100%;
    }

    .wm {
        width: 100%;
        float: none;
    }

    .btn {
        width: 100%;
    }

    .buttons {
        padding: 2% 5%;
    }
}